<h1>Villa Madeleine Homeowners</h1>
<h2>Easy Guide to Dining, Bars and Clubs</h2>
<div><%= link_to "Add a new Restaurant", new_restaurant_path %></div>

<% @restaurants.each do |r| %>
	

	<div class="booyah-box col-xs-10 col-xs-offset-1">
	<p> Restaurant ID # <%= r.id %> </p>	
      <h1><%= r.name %></h1>
    <i><%= r.address %></i><br /><br />
    <p><%= r.description %></p><br />
  </div>

  <hr />
	
<% end %>



