
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @restaurant.name %></h1>
	<i><%= @restaurant.address %></i>
	<br/><br/>
	<p><%= @restaurant.description %></p>

	<div class="pull-right">
	 	<% if current_user && current_user == @restaurant.user %>
    			<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>
    

    	 		<%= link_to 'Destroy', restaurant_path(@restaurant), method: :delete, data: {confirm: 'Are you sure you want to delete this listing?'},class: 'btn btn-danger' %>
      	<% end %>
  </div>
</div>